<v-item-group>
  <v-item-group>
    <v-row no-gutters>
      <v-col v-for="item in currentUsers" :key="item.id" sm="4">
        <user-card :user="item" v-bind:key="item.id" />
      </v-col>
    </v-row>
  </v-item-group>
  <v-pagination v-model="page" :length="totalPages"></v-pagination>
  <div class="text-right">
    <user-dialog
      :visible="createDialog"
      @close="createDialog=false"
      :retain-focus="false"
      persistent
    />
    <v-btn class="mx-2" @click.stop="createDialog=true" fab dark color="pink">
      <v-icon dark>mdi-plus</v-icon>
    </v-btn>
  </div>
</v-item-group>
